<%- include("partials/header"); %>

<!-- Welcome note -->

<div class="welcome-note he-pa">
  <h1>Hi there, <%= userName %></h1>


  <div class="add-group">
    <form class="" action="" method="post">
      <a href="/new-group"><button class="btn btn-primary" type="button" name="add-group">Create New Group</button></a>
    </form>
  </div>
</div>
<%- include("partials/footer"); %>
