
.home-para{
  font-size: 2.5rem;
}


/* .brand-heading{
  font-size: 3rem;
} */



.he-pa{
  margin-left: 10%;
  margin-top: 1%;
}

.navmargin{
  padding-left: 10%;
}

.form-position{
  margin-left: 10%;
  margin-top: 3%;
  padding-bottom: 70px;
}


/* Conversation area */
.messages{

}
